$bright-red: #E63946; 
$light-green: #F1FAEE; 
$teal-blue:#A8DADC; 
$med-blue:#457B9D;
$dark-blue:#1D3557;

$dark-grey:#464646;
$med-grey:#616161;
$med-light-grey:#a4a5a6;

$dark-blue-grey:#50626C;
$dark-yellow:#FFC914;

$background-color:#b9babe;

$white:#FFFFFF;
$black:#000000;



