<div class="main-container z-depth-2">

	<section class="main">
		<!-- NAV START -->
		<section class="navigation">
			<nav>
				<div class="nav-wrapper">
			    <!--
			      <a href="#!" class="brand-logo center"><i class="material-icons">child_care</i></a>
			      
			      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			      <ul class="hide-on-med-and-down">
			        <li><a href="sass.html">Sass</a></li>
			        <li><a href="badges.html">Components</a></li>
			        <li><a href="collapsible.html">Javascript</a></li>
			        <li><a href="mobile.html">Mobile</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="sass.html">Sass</a></li>
			        <li><a href="badges.html">Components</a></li>
			        <li><a href="collapsible.html">Javascript</a></li>
			        <li><a href="mobile.html">Mobile</a></li>
			      </ul>
			    </div>
			-->
		</nav>
	</section>

	<div class="divider"></div>

	<!-- NAV END -->
	<section class="header center-align">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m5 l5">
					<div class="profile-border z-depth-1">
						<img class="profile-pic z-depth-1" src="/images/profile_pic.jpg">
					</div>
				</div>
				<div class="col s12 m7 l7">
					<div class="left-align">
						<span class="name-text">FRANK LEE</span><br />
						<span class="sub-name-text">Front-end Web Developer</span>
						<p class="flow-text">Hi! Welcome and thanks for taking the time to visit. I made this website in Harp. It's very lightweight and super fast!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="about">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m4 l4">
					<div class="top-align right">
						<h4>About me</h4>
					</div>
				</div>
				<div class="col s12 m8 l8">
					<div class="border-left">
						<p>I have 8 years experience mostly in front-end development using HTML, CSS and Javascript. I'm also use to working with SQL databases and Microsoft Business Intelligence Tools (SSAS, SSIS, SSRS). 
							<br /><br />
							As a web developer I've explored using Meteor and AngularJS/Angular2 as my preferred frameworks. I'm always looking to expand my knowledge as a Web Developer and am open to new opportunities to learn.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="experience">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m4 l4">
					<div class="top-align right">
						<h4>Experience</h4>
					</div>
				</div>

				<div class="col s12 m8 l8">
					<div class="border-left">
						<p class="grey-sub-text">Merscient Inc. <br />2006-2014</p>

						<p>Merscient's products and services include loyalty strategy, a flexible technology platform, and program management. Together our service offerings track, understand, reward and grow customer value and engagement.</p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="education">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m4 l4">
					<div class="top-align right">
						<h4>Education</h4>
					</div>
				</div>
				<div class="col s12 m8 l8">							
					<div class="border-left">
						<p class="grey-sub-text">York University<br />
							2003-2007
						</p>
						<p>Backelor's Degree, Business Economics</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="Skills">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m4 l4">
					<div class="top-align right">
						<h4>Skills</h4>
					</div>
				</div>
				<div class="col s12 m8 l8">							
					<div class="border-left">
						<p>
							<p class="grey-sub-text">Web Technology</p> 
							<p>HTML, CSS, SASS, JS</p>

							<p class="grey-sub-text">Frameworks</p> 
							<p>Meteor, AngularJS, Angular2, Ruby On Rails, Sinatra</p>

							<p class="grey-sub-text">Databases</p>
							<p>SQL, mySQL, MongoDB</p>

							<p class="grey-sub-text">Mobile</p>
							<p>iOS, Swift</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section class="portfolio">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m4 l4">
				<div class="top-align right">
						<h4>Portfolio</h4>
					</div>
				</div>
				<div class="col s12 m8 l8">	
					<div class="border-left">						
						<div class="card small">
							<div class="card-image">
								<img src="/images/logos/archon_mode.png">
							</div>
							<div class="card-action">
								<a href="http://poweroverwhelming.me/">Power Overwhelming</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

</section>
</div>















